<section id="forecast">

  <div class="row">
    <div class="col-xs-12">
      <label id="city-select-label" for="city-select">Select city:</label>
      <select name="city" id="city-select" >
        <option value="kyiv">Kyiv</option>
        <option value="lviv">Lviv</option>
        <option value="odessa">Odessa</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="data-heading">Temperature</h2>
      <div id="temperatre-graph">D3...</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="data-heading">Additional Data</h2>
    </div>
    <div class="col-xs-12">
      <div id="additional-data" class="row">
        <div class="col-xs-12 col-sm-4">
          <table id="conditions" class="table table-condensed data-table">
            <caption>{{ "weather conditions" | uppercase }}</caption>
            <tr ng-repeat="obj in $ctrl.weatherConditions">
              <td class="date"> {{ obj.date }}</td>
              <td class="value"> {{ obj.condition }}</td>
            </tr>
          </table>
        </div>

        <div class="col-xs-12 col-sm-4">
          <table id="humidity" class="table table-condensed data-table">
            <caption>{{ "humidity" | uppercase }}</caption>
            <tr ng-repeat="obj in $ctrl.humidity">
              <td class="date"> {{ obj.date }}</td>
              <td class="value"> {{ obj.humidity }}</td>
            </tr>
          </table>
        </div>

        <div class="col-xs-12 col-sm-4">
          <table id="wind-speed" class="table table-condensed data-table">
            <caption>{{ "wind speed" | uppercase }}</caption>
            <tr ng-repeat="obj in $ctrl.windSpeed">
            <td class="date"> {{ obj.date }}</td>
              <td class="value"> {{ obj.speed }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


</section>
